body {
    background-color: #000;
    
}
div.container{
    width: 100%;
    height: 100%;
    
   
}
div.buttonm {
    display: inline;
    width: 150px;
    height: 100%;
    padding: 20px;
    font-size: large;
    font-family: sans-serif;
    vertical-align: central; 
    text-align: center;
    position: relative;
    float: left;
    
    
}
div#headerimg {
    background-image: url(images/header.jpg) ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
    padding-top: 0;
    height: 50%;
    width: 100%;
}
nav.navbar {
    margin-bottom: 0px;
    border-radius: 0%;
}
nav.navbar a {
    margin-bottom: 0px;
    border-radius: 0%;
    padding: 0;
}

/* Links */
a {
    text-align: center;
    color: #fff;
   
}
a:focus,
a:hover {
  color: #fff;
}
article {
    margin-left: 200px;
    margin-right: 200px;
}
div#cover {
    height: 500px;
    padding-top: 150px;
    
}
div#cover h1 {
    color:#fff;
    font-size: 50px;
    background-color: rgba(0, 0, 0, 0.80) ;
}
div.picleft {
    float: left;
}
div.highlights {
    
}
div#gallery {
    clear: both;
}
body {
  height: 100%;
  background-color: #333;
}
body {
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}



/*
 * Cover
 */

.cover {
  padding: 0 20px;
  color: #000;
  
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}
p {
    font-family: Verdana;
}





@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 700px;
  }
}


/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 01-Jan-2015, 21:32:56
    Author     : Ruda
*/

